*{
    margin: 0;
    padding: 0;
    height: 150rem;
}
.box{
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    margin: 2rem;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    left: 5rem;
}
.box3{
    position: absolute;
    border: 1px solid red;
    top: 1rem;
    left: 15rem;
}
.box4{
    position: fixed;
}
.box5{
    position: sticky;
    top: 5rem;
}